* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  min-height: 100vh;
  background-color: #ffff;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
/* First section with the class content and first */
.content.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 50px);
  gap: 1rem;
}

.content.first article {
  grid-column: 1;
  grid-row: span 3;
  background-color: #85d865;
}

.content.first article:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.content.first article:nth-child(4) {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.content.first article:nth-child(5) {
  grid-column: 2;
  grid-row: 5 / span 2;
}
/* Secon section with the class content and first */
.content.second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 150px);
  gap: 1rem;
}

.content.second article {
  grid-column: 1;
  grid-row: 1;
  background-color: #41c300;
}

.content.second article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.content.second article:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.content.second article:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.content.second article:nth-child(5) {
  grid-column: 3;
  grid-row: 1 / span 2;
}
/* Third section with the class content and first */
.content.third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 150px);
  gap: 1rem;
}

.content.third article {
  grid-column: 1;
  grid-row: 1;
  background-color: #85d865;
}

.content.third article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.content.third article:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
/* Fourth section with the class content and first */
.content.fourth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  gap: 1rem;
}

.content.fourth article {
  background-color: #41c300;
}
/* Fifth section with the class content and first */
.content.fifth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 100px);
  gap: 0px;
}

.content.fifth article {
  grid-column: 1;
  grid-row: 1;
  background-color: #85d865;
}

.content.fifth article:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}
.content.fifth article:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.content.fifth article:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.content.fifth article:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

/* Sixth section with the class content and first */
.content.sixth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 50px);
  gap: 0px;
}

.content.sixth article {
  grid-column: 1;
  grid-row: 1;
  background-color: #41c300;
}

.content.sixth article:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
.content.sixth article:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.content.sixth article:nth-child(4) {
  grid-column: 2;
  grid-row: 4;
}
.content.sixth article:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}
.content.sixth article:nth-child(6) {
  grid-column: 2;
  grid-row: 6;
}
/*  Seventh section with the class content and first */
.content.seventh {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px);
    gap: 1rem;
  }
  /* First Child */
.content.seventh article {
  grid-column: 1 / span 3;
  grid-row: 1;
  /* Color all childs */
  background-color: #85d865;
}
/* Second Child */
.content.seventh article:nth-child(2) {
  grid-column: 1;
  grid-row: 2 / span 3;
}
.content.seventh article:nth-child(3) {
  grid-column: 2;
  grid-row: 2 /span 3;
}
.content.seventh article:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}
.content.seventh article:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}
.content.seventh article:nth-child(6) {
  grid-column: 3;
  grid-row: 4;
}
.content.seventh article:nth-child(7) {
  grid-column:  1/ span 3;
  grid-row: 5;
}
/*  Eighth section with the class content and first */
.content.eighth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px);
    gap: 1rem;
  }
  /* First Child */
.content.eighth article {
  grid-column: 1 / span 5;
  grid-row: 1;
  /* Color all childs */
  background-color: #41c300;
}
/* Second Child */
.content.eighth article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.content.eighth article:nth-child(3) {
  grid-column: 1;
  grid-row: 3 / span 2;
}
.content.eighth article:nth-child(4) {
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}
.content.eighth article:nth-child(5) {
  grid-column: 2 /span 2;
  grid-row: 4;
}
.content.eighth article:nth-child(6) {
  grid-column: 5;
  grid-row: 2/ span 2;
}
.content.eighth article:nth-child(7) {
  grid-column:  4/ span 2;
  grid-row: 4;
}
.content.eighth article:nth-child(8) {
  grid-column:  1/ span 5;
  grid-row: 5;
}
/*  ninth section with the class content and first */
/*  tenth section with the class content and first */
