* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #000701;
}

html {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f4f6f8 0%, #f1f3f6 50%, #e0e4eb 100%);
  padding: 25px 40px;
}
/* Headers */
.headers {
  margin: 25px;
  text-align: center;
  text-shadow: -3px 0px 12px rgba(91, 255, 62, 0.2);
}

h1.headers {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}

h2.headers {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

section {
  font-size: x-large;
  text-shadow: -3px 0px 12px rgba(0, 7, 1, 0.3);
}

.content article {
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}

/* First section with the class content and first */
.content.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.content.first article {
  grid-column: 1;
  grid-row: span 3;
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}

.content.first article:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.content.first article:nth-child(4) {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.content.first article:nth-child(5) {
  grid-column: 2;
  grid-row: 5 / span 2;
}
/* Second section with the class content and first */
.content.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.content.second article {
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Third section with the class content and first */
.content.third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.content.third article {
  grid-column: 1;
  grid-row: 1;
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}

.content.third article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.content.third article:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
/* Fourth section with the class content and first */
.content.fourth {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 0px;
}
/* First Child */
.content.fourth article {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
/* Second Child */
.content.fourth article:nth-child(2) {
  grid-row: 4 / span 2;
}
.content.fourth article:nth-child(3) {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}
.content.fourth article:nth-child(4) {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}
/* Fifth section with the class content and first */
.content.fifth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px;
}
/* First Child */
.content.fifth article {
  grid-column: 1;
  grid-row: 1;
}
/* Second Child */
.content.fifth article:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}
.content.fifth article:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.content.fifth article:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.content.fifth article:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

/* Sixth section with the class content and first */
.content.sixth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px;
}
/* First Child */
.content.sixth article {
  grid-column: 1;
  grid-row: 1;
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Second Child */
.content.sixth article:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
.content.sixth article:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.content.sixth article:nth-child(4) {
  grid-column: 2;
  grid-row: 4;
}
.content.sixth article:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}
.content.sixth article:nth-child(6) {
  grid-column: 2;
  grid-row: 6;
}
/*  Seventh section with the class content and first */
.content.seventh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
}
/* First Child */
.content.seventh article {
  grid-column: 1 / span 3;
  grid-row: 1;
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Second Child */
.content.seventh article:nth-child(2) {
  grid-column: 1;
  grid-row: 2 / span 3;
}
.content.seventh article:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / span 3;
}
.content.seventh article:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}
.content.seventh article:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}
.content.seventh article:nth-child(6) {
  grid-column: 3;
  grid-row: 4;
}
.content.seventh article:nth-child(7) {
  grid-column: 1 / span 3;
  grid-row: 5;
}
/*  Eighth section with the class content and first */
.content.eighth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 6px;
}
/* First Child */
.content.eighth article {
  grid-column: 1 / span 5;
  grid-row: 1;
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Second Child */
.content.eighth article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.content.eighth article:nth-child(3) {
  grid-column: 1;
  grid-row: 3 / span 2;
}
.content.eighth article:nth-child(4) {
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}
.content.eighth article:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 4;
}
.content.eighth article:nth-child(6) {
  grid-column: 5;
  grid-row: 2 / span 2;
}
.content.eighth article:nth-child(7) {
  grid-column: 4 / span 2;
  grid-row: 4;
}
.content.eighth article:nth-child(8) {
  grid-column: 1 / span 5;
  grid-row: 5;
}
/*  ninth section with the class content and first */
.content.ninth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 6px;
}
/* First Child */
.content.ninth article {
  grid-column: 1 / span 4;
  grid-row: 1;
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Second Child */
.content.ninth article:nth-child(2) {
  grid-column: 1;
  grid-row: 2 / span 2;
}
.content.ninth article:nth-child(3) {
  grid-column: 1;
  grid-row: 4 / span 2;
}
.content.ninth article:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.content.ninth article:nth-child(5) {
  grid-column: 2;
  grid-row: 3 / span 3;
}
.content.ninth article:nth-child(6) {
  grid-column: 3;
  grid-row: 2 / span 3;
}
.content.ninth article:nth-child(7) {
  grid-column: 3;
  grid-row: 5;
}
.content.ninth article:nth-child(8) {
  grid-column: 4;
  grid-row: 2 / span 2;
}
.content.ninth article:nth-child(9) {
  grid-column: 4;
  grid-row: 4 / span 2;
}
/*  tenth section with the class content and first */
.content.tenth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 6px;
}
/* First Child */
.content.tenth article {
  grid-column: 1 / span 4;
  grid-row: 1;
  /* Color all childs */
  background: linear-gradient(to bottom, #65cc3e 0%, #41c300 50%, #2eb300 100%);
}
/* Second Child */
.content.tenth article:nth-child(2) {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}
.content.tenth article:nth-child(3) {
  grid-column: 1 / span 3;
  grid-row: 5;
}
.content.tenth article:nth-child(4) {
  grid-column: 1 / span 3;
  grid-row: 6 / span 2;
}
.content.tenth article:nth-child(5) {
  grid-column: 4;
  grid-row: 2;
}
.content.tenth article:nth-child(6) {
  grid-column: 4;
  grid-row: 3;
}
.content.tenth article:nth-child(7) {
  grid-column: 4;
  grid-row: 4;
}
.content.tenth article:nth-child(8) {
  grid-column: 4;
  grid-row: 5;
}
.content.tenth article:nth-child(9) {
  grid-column: 4;
  grid-row: 6;
}
.content.tenth article:nth-child(10) {
  grid-column: 4;
  grid-row: 7;
}
/* Large Screen */
@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-areas:
      " . header header ."
      "head1 head2 head3 head4"
      "one two three four"
      "head5 head6 head7 head8"
      "five six seven eight"
      "head9 head9 head10 head10"
      "nine nine ten ten";
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 60px 300px 60px 300px 60px 300px;
    justify-content: center;
    text-align: center;
  }

  .headers.title {
    grid-area: header;
  }
  .headers.one {
    grid-area: head1;
  }
  .headers.two {
    grid-area: head2;
  }
  .headers.three {
    grid-area: head3;
  }
  .headers.four {
    grid-area: head4;
  }
  .headers.five {
    grid-area: head5;
  }
  .headers.six {
    grid-area: head6;
  }
  .headers.seven {
    grid-area: head7;
  }
  .headers.eight {
    grid-area: head8;
  }
  .headers.nine {
    grid-area: head9;
  }
  .headers.ten {
    grid-area: head10;
  }
  .content.first {
    grid-area: one;
  }
  .content.second {
    grid-area: two;
  }
  .content.third {
    grid-area: three;
  }
  .content.fourth {
    grid-area: four;
  }
  .content.fifth {
    grid-area: five;
  }
  .content.sixth {
    grid-area: six;
  }
  .content.seventh {
    grid-area: seven;
  }
  .content.eighth {
    grid-area: eight;
  }
  .content.ninth {
    grid-area: nine;
  }
  .content.tenth {
    grid-area: ten;
  }
}
